// MEDIA QUERY MANAGER
/*

0 - 320px:          Small-Phone
320 - 600px:          Phone
600px - 900px       Table Portrait
900px - 1200px      Table Landscape
[1200px - 1800px]   Desktop Normal Styles
1800px +            Big Desktop

1em = 16px

*/ 
// MEDIA QUERY CHECKING: if breakpoint, pass certain content.
@mixin respond($breakpoint) {
  // Phone-xs
  @if $breakpoint == phone-xs {
    @media (max-width: 320px) {
      @content;
    } //0 - 320px
  }
  // Phone
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    } //0 - 600px
  }
  // Table Portrait
  @if $breakpoint == tab-port {
    @media (max-width: 900px) {
      @content;
    } //900px
  }
  // Table Landscape
  @if $breakpoint == tab-land {
    @media (max-width: 1200px) {
      @content;
    } //1200px
  }
  // Big Desktop
  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      @content;
    } //1800px +
  }
}