// COLORS

// Primary Color used for the project
$primary-color: rgba(101, 157, 189, 0.7);
// Secondary color used for typography
$secondary-color: #2E1114;
// color used for stroke
$stroke-color: #336F8D;

// $white-color: #fff;

// $dark-grey: #333333;

// $dark-blue-text: #272341;



// FONT SIZE
$default-font-size: 2em;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
