// COLORS

// Primary Color used for the project
$primary-color: rgba(101, 157, 189, 0.7);
$primary-color-solid: rgba(101, 157, 189, 0.95);
// Secondary color used for typography
$secondary-color: #2E1114;
// color used for stroke
$stroke-color: #336F8D;


// FONT SIZE
$default-font-size: 2em;
$big-font-size: 7.5rem;
$mid-font-size: 3rem;
$title-font-size: 5.5rem;

// FONT FAMILY

$default-font-family: "Franklin Gothic Book";
