#cursuriauto {
  @include layout;
  @include background-desktop;
  margin-top: 500px;
  padding: 20px 60px 0px 60px;

  @include respond(tab-port) {
    @include background-mobile;
    padding: 20px;
  }

  p {
    font-size: $paragraph-font-size;
    line-height: 1.6;
  }
  .cursuriauto-content {
    text-align: justify;
    @include respond(tab-port) {
    }
  }
  .cursuriauto-btn-group {
    display: flex;
    justify-content: center;
    flex-direction: row;
    @include respond(tab-port) {
      flex-direction: column;
      align-items: center;
    }
  }
  .cursuriauto-btn {
    margin: 20px;
    @include respond(tab-port) {
      margin: 10px;
    }
    @include respond(phone) {
      margin: 8px;
    }
    @include respond(phone-xs) {
      margin: 8px;
    }
  }
  .cursuriauto-title {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    @include respond(tab-port) {
      flex-direction: column-reverse;
    }
    #wheel {
      animation: wheel 2s infinite linear;
      transform-origin: center center;
      transform-box: border-box;
      fill: grey;
      transition: all 0.5s ease;
      &:hover {
        fill: black;
        transition: all 0.5s ease;
        animation: wheel 1s infinite linear;
      }
    }
  }
}

@keyframes wheel {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
