// ABOUT ME SECTION
#despremine {
  @include layout;
  @include background-desktop-mirrored;
  margin-top: 300px;
  padding: 20px 100px 0px 60px;

  @include respond(tab-port) {
    @include background-mobile;
    height: 1000px;
    padding: 20px;
  }
  @include respond(phone){
    margin-top: 800px;
  }
  @include respond(phone-xs) {
    height: 1200px;
  }
  .despremine-main-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    @include respond(tab-port) {
      flex-direction: column-reverse;
    }
  }
  
  #despremine-img-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    .despremine-img {
      height: auto;
    }
  }

  .despremine-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    text-align: justify;
    min-width: 200px;
    @include respond(tab-port) {
      margin: 0px;
    }
  }

  .despremine-btn {
    display: flex;
    justify-content: center;
    margin: 10px;
  }

  p {
    font-size: $paragraph-font-size;
    line-height: 1.6;
  }
}
