#galerie {
  @include layout;
  @include background-others;
  // align-content: flex-start;
  margin-top: 200px;
  padding: 20px 20px 20px 20px;
  .galerie-main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .galerie-bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
  }
  .img-container {
    margin: 20px;
    display: flex;
    justify-content: center;
  }
  .top {
    height: auto;
    max-width: 600px;
    width: 100%;
  }
  .bottom {
    height: auto;
    max-width: 1045px;
    width: 100%;
    border-radius: 10px;
  }
}
