// HERO SECTION
#hero {
  @include layout;
  @include background-desktop;

  min-height: 456px;
  top: 150px;
  padding: 20px;
  @include respond(phone){
    top: 350px;
  }

  .main-btn {
    margin-top: 20px;
  }
}
