// HERO SECTION
#hero {
  @include layout;
  @include background-desktop;
  min-height: 456px;
  margin-top: 250px;
  padding: 20px;
  @include respond(tab-port) {
    margin-top: 350px;
  }
  @include respond(phone) {
    margin-top: 400px;
  }
  .main-btn {
    margin-top: 20px;
  }

  #pulling-car {
    height: 80px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: flex-end;
    animation-delay: 1s;
    animation-iteration-count: 1;
    @include respond(tab-port) {
      overflow: hidden;
      height: 100px;
    }
    #speed-car-container {
      margin-right: 40px;
      @include respond(tab-port) {
      }
      &.animate {
        transition: all 2s ease-in-out;
        transform: translate(-1300px);
      }
      &.hidden {
        height: 50px;
        // display: none;
        visibility: hidden;
        @include respond(tab-port) {
          height: 100px;
        }
      }
    }
    #left-wheel,
    #right-wheel {
      animation: wheel-car 1s infinite linear;
      transform-origin: center;
      transform-box: fill-box;
    }
  }
}
