// HERO SECTION
#hero {
  @include layout;
  @include background-desktop;

  min-height: 456px;
  margin-top: 250px;
  padding: 20px;
  @include respond(tab-port){
    margin-top: 350px;
  }
  @include respond(phone){
    margin-top: 400px;
  }

  .main-btn {
    margin-top: 20px;
  }
}
