// HEADER STYLES

// PARENT HEADER 
#home-header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-items: center;
  width: 100%;
  background: $primary-color;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 8rem;
  backdrop-filter: blur(5px);
  transition: top 0.3s;
  @include respond(tab-port) {
    justify-content: flex-start;
  }
  &.active {
    background: $primary-color-solid;
  }

  #burger-toggle {
    right: 30px;
    justify-content: center;
    @include respond(phone) {
      top: 8px;
      right: 25px;
    }
  }

  // NAV AREA (LINKS)
  #main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    line-height: 2rem;
    @include respond(tab-port){
      visibility: hidden;
    }

    .visible {
      @include respond(tab-port) {
        visibility: visible;
      }
    }

    .menu-list {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: center;
      justify-items: center;
      @include respond(tab-port) {
        display: flex;
        animation: animate-dropdown-pull 0.5s;
        animation-fill-mode: both;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 0;
        margin-top: 7.9rem;
        left: 0;
        background: $primary-color-solid;
        font-size: 20px;
        line-height: 2;
      }

      li {
        padding-left: 10px;
        padding-right: 10px;
        justify-content: center;
        align-items: center;
        display: flex;
      }
    }

    .active {
      display: flex;
      animation: animate-dropdown-list 0.5s;
      animation-direction: alternate;
      animation-fill-mode: both;
      // visibility: visible;
    }
  }
}

@keyframes animate-dropdown-list {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes animate-dropdown-pull {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.5);
    opacity: 0;
  }
}

// HOME ICON
.home-icon {
  justify-content: center;
  align-items: center;
  display: flex;
  @include respond(tab-port) {
    margin-left: 20px;
  }

  #home-image {
    transition: all 0.5s ease;
    &:hover {
      margin-right: 5px;
      transition: all 0.5s ease;
    }
    @include respond(tab-port) {
      width: 60px;
      height: 58px;
    }
  }
}

// MENU BAR
.burger-menu {
  width: 80px;
  height: 80px;
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 1px;
  right: 15px;
  bottom: 2px;
  cursor: pointer;

  @include respond(tab-port) {
    display: flex;
  }

  .stick {
    width: 80px;
    height: 8px;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #000;
    display: inline-block;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  .stick-1.open {
    animation: stick-1-open 0.6s ease-out forwards;
  }
  .stick-2.open {
    animation: stick-2-open 0.6s linear forwards;
  }
  .stick-3.open {
    animation: stick-3-open 0.6s linear forwards;
  }

  @keyframes stick-1-open {
    0% {
      width: 80px;
    }
    40% {
      background-color: #ff1456;
      width: 8px;
      transform: translate(40px, 0px);
    }
    75% {
      width: 8px;
      transform: translate(40px, -50px);
      animation-timing-function: cubic-bezier(0, 1, 1, 1);
    }
    80% {
      width: 8px;
      transform: translate(40px, -50px);
      animation-timing-function: cubic-bezier(0, 1, 1, 1);
    }
    100% {
      background-color: #ff1456;
      width: 8px;
      transform: translate(35px, 46px);
    }
  }

  @keyframes stick-2-open {
    80% {
      background-color: #2dfdb9;
      transform: translate(0px, 0px) rotate(0deg);
    }
    100% {
      background-color: #ff1456;
      transform: translate(8px, 0px) rotate(40deg);
    }
  }

  @keyframes stick-3-open {
    80% {
      background-color: #2dfdb9;
      transform: translate(0px, 0px) rotate(0deg);
    }
    100% {
      background-color: #ff1456;
      transform: translate(8px, -23px) rotate(-40deg);
    }
  }

  .stick-1.close {
    width: 8px;
    transform: translate(27px, 26px);
    animation: stick-1-close 0.6s ease-out forwards;
  }

  .stick-2.close {
    transform: translate(0px, 0px) rotate(40deg);
    animation: stick-2-close 0.6s ease-out forwards;
  }

  .stick-3.close {
    transform: translate(0px, -23px) rotate(-40deg);
    animation: stick-3-close 0.6s ease-out forwards;
  }

  @keyframes stick-1-close {
    0% {
      width: 0px;
    }
    70% {
      width: 0px;
    }
    100% {
      width: 80px;
      transform: translate(0, 0);
    }
  }

  @keyframes stick-2-close {
    0% {
      background-color: #ff1456;
      width: 80px;
    }
    20% {
      background-color: #ff1456;
      width: 8px;
      transform: translate(0, 0px) rotate(40deg);
    }
    40% {
      background-color: #2dfdb9;
      width: 0px;
    }
    65% {
      transform: translate(0, -70px);
      animation-timing-function: cubic-bezier(0, 1, 1, 1);
    }
    80% {
      width: 0px;
    }
    100% {
      width: 80px;
      transform: translate(0, 0px);
    }
  }

  @keyframes stick-3-close {
    0% {
      background-color: #ff1456;
      width: 80px;
    }
    20% {
      background-color: #ff1456;
      width: 8px;
      transform: translate(0, -23px) rotate(-40deg);
    }
    40% {
      background-color: #2dfdb9;
    }
    65% {
      transform: translate(0, -93px);
      animation-timing-function: cubic-bezier(0, 1, 1, 1);
    }
    90% {
      width: 8px;
    }
    100% {
      width: 80px;
      transform: translate(0, 0px);
    }
  }
}
