@import './base/reset';
@import './abstracts/mixins';
@import './abstracts/variables';

@import './base/base';
@import './base/typography';
@import './base/buttons';
@import './base/typicals';

@import './sections/navbar';
@import './sections/hero';
@import './sections/despremine';
@import './sections/cursuriauto';
@import './sections/mainSection';
@import './sections/galerie';
@import './sections/testimoniale';
@import './sections/contact';
@import './sections/footer';

