@import './base/reset';
@import './abstracts/mixins';
@import './abstracts/variables';

@import './base/base';
@import './base/typography';

@import './sections/navbar';
@import './sections/hero';
@import './sections/despremine';
@import './sections/mainSection';

