html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
}

body {
  font-family: "Franklin Gothic Book", sans-serif;
  display: block;
  position: absolute;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  // min-height: 100%;
  // min-width: 600px;
}

html,
body {
  @include respond(phone){
    zoom: 90%;
  }
}

// Set background image

body::after {
  content: "";
  background: url(../assets/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  z-index: -1;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
