.btn {
  font-size: 100%;
  display: inline-block;
  margin: 0;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
  @include respond(phone){
    font-size: 2.5rem;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $button-color;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($button-color, 20%);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    transition: all 0.5s ease-in-out;
    color: #7f0000;
    &:before {
      width: 100%;
    }
  }
}
