h1 {
  font-weight: 700;
  font-size: 60px;
}

p,
a {
  font-family: $default-font-family;
  // font-size: $default-font-size;
  font-size: $default-font-size;
  // line-height: 34px;
}

a {
  font-weight: 600;
  color: #000;
  text-decoration: none;
  &:link,
  &:hover,
  &:visited,
  &:active {
    text-decoration: none;
  }
  &:visited {
    color: #000;
  }
  &:hover {
    transition: all 0.5s ease-in-out;
    color: #7f0000;
  }
}
