h1 {
  font-weight: 400;
  font-size: 100px;
  text-align: center;
  margin-bottom: 20px;
  color: $secondary-color;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  font-family: $syncopate-font-family;
  @include respond(tab-port){
    font-size: 70px;
  }
  @include respond(phone) {
    // font-size: $big-font-size;
    font-size: 65px;
    margin-bottom: 10px;
  }
  @include respond(phone-xs){
    font-size: 65px;
  }
}

h2 {
  text-align: center;
  font-size: 60px;
  color: $secondary-color;

  margin: 10px;
  @include respond(phone) {
    font-size: $title-font-size;
  }
}

h3 {
  text-align: right;
  font-size: 40px;
  font-weight: 400;
  // font-style: italic;
  margin-left: auto;
  font-family: $syncopate-font-family;
  @include respond(phone) {
    font-size: $mid-font-size;
  }
}
h4 {
  text-align: left;
  font-size: 40px;
  @include respond(phone){
    font-size: $mid-font-size;
  }
}

p,
a {
  font-family: $default-font-family;
  font-size: $default-font-size;
}

a {
  font-weight: 600;
  color: #000;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  &:link,
  &:hover,
  &:visited,
  &:active {
    text-decoration: none;
  }
  &:visited {
    color: #000;
  }
  &:hover {
    transition: all 0.5s ease-in-out;
    color: #7f0000;
  }
}
