h1 {
  font-weight: normal;
  font-size: 100px;
  text-align: center;
  margin-bottom: 20px;
  @include respond(phone) {
    font-size: $big-font-size;
    margin-bottom: 10px;
  }
}

h2 {
  text-align: center;
  font-size: 60px;
  color: $secondary-color;
  @include respond(phone) {
    font-size: $title-font-size;
  }
}

h3 {
  text-align: right;
  font-size: 40px;
  font-style: italic;
  margin-left: auto;
  @include respond(phone) {
    font-size: $mid-font-size;
  }
}

p,
a {
  font-family: $default-font-family;
  font-size: $default-font-size;
  // line-height: 34px;
}

a {
  font-weight: 600;
  color: #000;
  text-decoration: none;
  &:link,
  &:hover,
  &:visited,
  &:active {
    text-decoration: none;
  }
  &:visited {
    color: #000;
  }
  &:hover {
    transition: all 0.5s ease-in-out;
    color: #7f0000;
  }
}
