h1 {
  font-weight: 700;
}

p,
a {
  font-family: "Franklin Gothic Book";
  font-size: $default-font-size;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}
